.overlay {
    background-color: #030303;
    padding: 20px;
    text-align: right;
    text-decoration-color: white;
}

.header {
    background-color: palegreen;
    padding: 10px;
    text-align: center;
    text-decoration-color: white;
}

.topnav a {
    float: right;
    display: block;
    color: #080303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  h1{
      font-weight: bold;
      font-size: 24px;
      color: white;
  }