.overlay {
    background-color: #030303;
    padding: 20px;
    text-align: right;
    text-decoration-color: white;
}

.header {
    background-color: palegreen;
    padding: 10px;
    text-align: center;
    text-decoration-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 8px;
    background-color: black;
}

.topnav a {
    float: right;
    display: block;
    color: #080303;
    text-align: right;
    padding: 14px 16px;
    text-decoration-color: white;
  }

  h1{
      font-weight: bold;
      font-size: 24px;
      color: white;
      text-align: right;
  }